include /common/logo-full/logo-full
include /form-elements/button/_type/_bordered/button_type_bordered
include /form-elements/button/_type/_filled/button_type_filled

mixin header(options = {})
  -
    const {
      isLoggedIn,
      userName,
      currentPage,
    } = options;

  header.header
    .header__container
      .header__logo
        a.header__main-page-link(href="landing.html")
          +logo-full
      .header__menu-opener.js-header__menu-opener menu
      ul.header__menu
        -
          const menuList = [
            { title: "О нас", isExpandable: false, name: "about" },
            {
              title: "Услуги", isExpandable: true, name: "services",
              submenu: [
                { title: "Первая услуга" },
                { title: "Услуга номер два" },
                { title: "Услуга под номером три" },
              ],
            },
            { title: "Вакансии", isExpandable: false, name: "vacancies" },
            { title: "Новости", isExpandable: false, name: "news" },
            {
              title: "Соглашения", isExpandable: true, name: "agreements",
              submenu: [
                { title: "Лицензия на предоставление услуг" },
                { title: "Пользовательское соглашение" },
                { title: "Политика конфиденциальности" },
              ],
            },
          ]
        each item in menuList
          li.header__menu-item(
            class=(item.name === currentPage) ? "header__menu-item_active" : ""
            class=item.isExpandable ? "header__menu-item_type_expandable" : ""
          )
            .header__menu-item-container
              a.header__menu-link(href=item.link || "/mock-address/change-me")= item.title
              if item.isExpandable
                span.header__submenu-opener.js-header__submenu-opener expand_more
            if item.submenu
              ul.header__submenu
                each subitem in item.submenu
                  li.header__subitem
                    a.header__sublink(href=subitem.link || "/mock-address/change-me")= subitem.title

      if isLoggedIn
        .header__user-name-container
          span.header__user-name= userName
      else
        span.header__buttons-opener.material-icons account_box
        .header__buttons
          .header__sign-in-button
            a.header__sign-in-link(href="registration-and-sign-in.html?page=sign-in")
              +button_type_bordered({ caption: 'Войти', isSmall: true })
          .header__register-button
            a.header__registration-link(href="registration-and-sign-in.html?page=registration")
              +button_type_filled({ caption: 'Зарегистрироваться', isSmall: true })
