include /cards/room-main-info/room-main-info
include /form-elements/rate-button/rate-button

mixin room-card(options)
  -
    const {
      number,
      isLux,
      price,
      rating,
      reviewsCount,
    } = options
  .room-card(
    href="#"
  )
    .room-card__slider
      .slider
        a.slides(href="#")
          - let num = 1;
          while num < 5
            img(
              class=`image${num}`
              src=require(`../../../components/cards/room-card/room-cards/image-${number}-${num}.jpg`).default
              alt=`room #${number}, image #${num++}`
            )
        .prev.slider__prev
          div.slider__prev-arrow.material-icons expand_more
        .next.slider__next
          div.slider__next-arrow.material-icons expand_more
        .position.slider__position(disabled)
    a.room-card__info(href="#")
      .room-card__header
        +room-main-info({
          number,
          isLux,
          price,
          isSmall: true,
        })
      .room-card__rating
        +rate-button(rating)
        span.room-card__ratings
          b.room-card__ratings-count= reviewsCount
          |  Отзывов