include /form-elements/control-container/control-container

//- options: {
      type: "string",
      title: "string",
      placeholder: "string",
      state: "string",
      isForceHoverStyle: boolean,
      isMasked: boolean,
      value: "string"
    }
mixin text-field(options)
  -
    var blockClassName = "text-field"
    blockClassName += options.isMasked ? " text-field_masked" : ""
    blockClassName += options.isForceHoverStyle ? " text-field_force-focus-hover" : ""
    blockClassName += options.isSubscription ? " text-field_subscription" : ""

  +control-container({
    title: options.title,
    state: options.state,
  })
    div(class=blockClassName)
      input.text-field__input.js-text-field__input(
        type=options.type || "text"
        placeholder=options.placeholder
        value=options.value
        maxlength=options.isMasked ? "10" : ""
      )
      if options.isSubscription
        button.text-field_subscription__arrow.material-icons(type="button") arrow_forward