//- options: {
      type: "string",
      title: "string",
      placeholder: "string",
      state: "string",
      isForceHoverStyle: boolean,
      isMasked: boolean,
      value: "string"
    }
mixin textField(options)
  -
    var inputClassName = "text-field__input"
    inputClassName += options.isMasked ? " text-field__input_masked" : ""
    inputClassName += options.isForceHoverStyle ? " text-field__input_force-focus-hover" : ""
    
  .text-field
    input(
      class=inputClassName
      type=options.type || "text"
      placeholder=options.placeholder
      value=options.value
      maxlength=options.isMasked ? "10" : ""
    )
    if options.isSubscription
      button.text-field_subscription__arrow.material-icons(type="button") arrow_forward