mixin textField(options)
  .control-container.text-field(class=options.modifier ? 'text-field_' + options.modifier : '')
    .control-container__caption
      if options.title
        h3.control-container__title.text-field__title= options.title
      if options.description
        span.control-container__description= options.description
    input.text-field__input(
      type=options.type || 'text'
      placeholder=options.placeholder
      value=options.value
      class=options.modifier ? 'text-field_' + options.modifier + '__input' : ''
      class=options.forceHoverStyle ? 'force-focus-hover' : ''
      maxlength=options.modifier=='masked' ? '10' : ''
    )
    if options.modifier == 'subscription'
      button.text-field_subscription__arrow.material-icons(type='button') arrow_forward