//- options: {
      type: "string",
      title: "string",
      placeholder: "string",
      description: "string",
      isForceHoverStyle: boolean,
      isMasked: boolean,
      value: "string"
    }
mixin textField(options)
  -
    var inputClassName = "text-field__input"
    inputClassName += options.isMasked ? " text-field__input_masked" : ""
    inputClassName += options.isForceHoverStyle ? " text-field__input_force-focus-hover" : ""
  .text-field
    if options.title || options.description
      .text-field__caption
        if options.title
          h3.text-field__title= options.title
        if options.description
          span.text-field__description= options.description
    input(
      class=inputClassName
      type=options.type || "text"
      placeholder=options.placeholder
      value=options.value
      maxlength=options.isMasked ? "10" : ""
    )
    if options.isSubscription
      button.text-field_subscription__arrow.material-icons(type="button") arrow_forward