mixin textField(options)
  .text-field(
    class=options.modifier ? "text-field_" + options.modifier : ""
  )
    .text-field__caption
      if options.title
        h3.text-field__title= options.title
      if options.description
        span.text-field__description= options.description
    input.text-field__input(
      type=options.type || "text"
      placeholder=options.placeholder
      value=options.value
      class=options.modifier ? "text-field_" + options.modifier + "__input" : ""
      class=options.idForceHoverStyle ? "force-focus-hover" : ""
      maxlength=options.modifier=="masked" ? "10" : ""
    )
    if options.modifier == "subscription"
      button.text-field_subscription__arrow.material-icons(type="button") arrow_forward