//- options: {
      caption: "string",
      isSmall: boolean,
      isForceHover: boolean,
    }
mixin button_filled(options)
  - const { isSmall, isForceHover, caption} = options

  button.button.button_filled(
    type="button"
    class=isSmall ? "button_small" : ""
    class=isForceHover ? "button_filled_force-hover" : ""
  )= caption

mixin button_bordered(options)
  - const { isSmall, isForceHover, caption } = options

  .button.button_bordered(
    class=isSmall ? "button_small" : ""
    class=isForceHover ? "button_bordered_force-hover" : ""
  )
    button.button.button_bordered__body(type="button")= caption


//- options: {
      caption: "string",
      isClear: boolean
    }
mixin button_link(options)
  - const { isClear, caption } = options
  
  a.button.button_link(
    class=isClear ? "button_link_clear" : ""
  )= caption

//- options: {
      caption: "string"
    }
mixin button_wide(options)
  button.button.button_filled.button_wide(type="submit")= options.caption