mixin button_filled(title)
  button.button.button_filled(type='button')= title

mixin button_bordered(title)
  .button.button_bordered
    button.button.button_bordered__body(type='button')= title

mixin button_link(options)
  button.button.button_link(type='button' class=options.isClear ? 'button_link_clear' : '')= options.title

mixin button_like(options)
  .button.button_like(class=options.isClicked ? 'button_like_clicked' : '' id=options.id)
    .button_like__body
      span.button_like__heart.material-icons favorite_border
      span.button_like__count= options.likesCount

mixin button_wide(title)
  button.button.button_filled.button_wide(type='submit')= title
    span.button_wide__arrow.material-icons arrow_forward