//- options: {
      isForceHover: boolean,
      caption: "string"
    }
mixin button_filled(options)
  button.button.button_filled(
    type="button"
    class=options.isForceHover ? "button_filled_force-hover" : ""
  )= options.caption

mixin button_bordered(options)
  .button.button_bordered(
    class=options.isForceHover ? "button_bordered_force-hover" : ""
  )
    button.button.button_bordered__body(type="button")= options.caption


//- options: {
      caption: "string",
      isClear: boolean
    }
mixin button_link(options)
  a.button.button_link(
    class=options.isClear ? "button_link_clear" : ""
  )= options.caption

//- options: {
      caption: "string"
    }
mixin button_wide(options)
  button.button.button_filled.button_wide(type="submit")= options.caption
    span.button_wide__arrow.material-icons arrow_forward