//- options: {
      name: "string",
      label: "string",
      isChecked: boolean
    }
mixin radio(options)
  include /common/random-id-generator/random-id-generator
  -
    const {
      name,
      label,
      isChecked,
    } = options;

  label.radio
    input.radio__switch(
      id=`r-${randID}`,
      type="radio",
      name=name,
      checked=isChecked
    )
    span.radio__label= label
