//- options: {
      name: "string",
      label: "string",
      isChecked: boolean
    }
mixin radio(options)
  - const randID = Math.floor(Math.random() * (1 - 1000) + 1000)
  label.radio
    input.radio__switch(
      id=`r-${randID}`,
      type="radio",
      name=options.name,
      checked=options.isChecked
    )
    span.radio__label= options.label