mixin radio(options)
  .input-button.radio
    input.switch.radio__switch(
      type='radio',
      name=options.name,
      id=options.id,
      checked=options.isChecked
    )
    label.input-button__label.radio__label(for=options.id)= options.label