mixin dateDropdown(options)
  - var randID = Math.floor(Math.random() * (1 - 100) + 100)
  .date-dropdown.control-container.control-container_row
    input.date-dropdown__input_fake.datepicker-here(
      type='text'
      data-classes='calendar-' + randID
      data-keyboard-nav='false'
      readonly
    )
    each val in [1, 2]
      .control-container
        h3.control-container__title #{options['title' + val] || 'date dropdown'}
        .date-dropdown__container
          button.date-dropdown__arrow.material-icons expand_more
          input.date-dropdown__input(type='text' class='date-' + val placeholder='ДД.ММ.ГГГГ' readonly)

mixin dateDropdownFilter(options)
  - var randID = Math.floor(Math.random() * (1 - 100) + 100)
  .date-dropdown.date-dropdown_filter.control-container
    h3.control-container__title #{options.title || 'filter date dropdown'}
    .date-dropdown__container.date-dropdown_filter__container
      button.date-dropdown__arrow.date-dropdown_filter__arrow.material-icons expand_more
      input.date-dropdown__input.date-dropdown_filter__input.datepicker-here(
        type='text'
        placeholder='ДД.ММ.ГГГГ'
        data-classes='calendar-' + randID
        data-multiple-dates-separator=' - '
        data-date-format='dd M'
        data-keyboard-nav='false'
        readonly
      )