include /common/control-container/control-container

//- options: {
      title1: "string",
      title2: "string",
      selectDate: [
        [yyyy, mm, dd],
        [yyyy, mm, dd],
      ]
    }
mixin date-dropdown(options)
  - const randID = Math.floor(Math.random() * (1 - 1000) + 1000)

  .date-dropdown
    input.date-dropdown__input_fake.datepicker-here.js-datepicker-here(
      type="text"
      name="dates"
      data-classes=`calendar-${randID}`
      data-keyboard-nav="false"
      data-select-date=options.selectDate
      readonly
    )
    each val in [1, 2]
      .date-dropdown__dropdown
        +control-container({
          title: options[`title${val}`] || "date dropdown",
        })
          .date-dropdown__container
            button.date-dropdown__arrow.material-icons expand_more
            input.date-dropdown__input(
              type="text"
              class=`date-${val} js-date-${val}`
              placeholder="ДД.ММ.ГГГГ"
              readonly
            )
