include /common/control-container/control-container

//- options: {
      title1: "string",
      title2: "string",
      selectDate: [
        [yyyy, mm, dd],
        [yyyy, mm, dd],
      ]
    }
mixin date-dropdown(options)
  .date-dropdown.js-date-dropdown
    each val in [1, 2]
      .date-dropdown__dropdown
        +control-container({
          title: options[`title${val}`] || "date dropdown",
        })
          .date-dropdown__container
            button.date-dropdown__arrow.material-icons expand_more
            input.date-dropdown__input.js-date-dropdown__input(
              type="text"
              data-date=val
              placeholder="ДД.ММ.ГГГГ"
              name=`date${val}`
              data-keyboard-nav="false"
              data-select-date=options.selectDate
              readonly
            )
