include /common/control-container/control-container

//- options: {
      title,
      selectDate: [
        [yyyy, mm, dd],
        [yyyy, mm, dd],
      ]
    }
mixin date-dropdown_type_filter(options = {})
  - const { title, selectDate } = options;

  +control-container({
    title: title || "filter date dropdown",
  })
    .date-dropdown.date-dropdown_type_filter
      button.date-dropdown__arrow.date-dropdown_type_filter__arrow expand_more
      input.date-dropdown__input.date-dropdown_type_filter__input.js-date-dropdown_type_filter__input(
        type="text"
        placeholder="ДД.ММ.ГГГГ"
        data-multiple-dates-separator=" - "
        data-date-format="dd M"
        data-keyboard-nav="false"
        data-select-date=selectDate
        readonly
      )
