mixin rangeSlider(options)
  - const randID = Math.floor(Math.random() * (1 - 1000) + 1000)
  .range-slider(
    class=options.class
    id=`range-${randID}`
    data-range=options.range
    data-start=options.start
  )
    .range-slider__caption
      h3.range-slider__title= options.title
      span.range-slider__values
    #slider.range-slider__slider