extends ../../layouts/ui-kit_main/ui-kit_main

block variables
  - var title = 'Colors & type'
  - var pageClass = 'colors-and-type'
  -
    var colorsList = [
      { color: 'ds-100', title: 'Dark Shade 100%', code: '#1F2041' },
      { color: 'ds-75', title: 'Dark Shade 75%', code: '#1F2041' },
      { color: 'ds-50', title: 'Dark Shade 50%', code: '#1F2041' },
      { color: 'ds-25', title: 'Dark Shade 25%', code: '#1F2041' },
      { color: 'ds-5', title: 'Dark Shade 5%', code: '#1F2041' },
      { color: 'purple', title: 'Purple', code: '#BC9CFF' },
      { color: 'green', title: 'Green', code: '#6FCF97'  }
    ]
  -
    var headingsList = [
      { type: 'h1', textExample: 'This one is the sub-section or widget title' },
      { type: 'h2', textExample: 'Next one is the item title inside widgets' },
      { type: 'h3', textExample: 'This is a label or CTA text' },
      { type: 'body', textExample: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.' }
    ]
block content
  ul.examples-list.color-examples-list
    each color in colorsList
      +color-example(color)

  ul.examples-list.heading-examples-list
    each heading in headingsList
      +heading-example(heading)

//- MIXINS
mixin color-example(options)
  li.color-examples-list__color-example
    div.color-examples-list__color-square(
      class='color-examples-list__color-square_color_' + options.color
    )
    div.color-examples-list__text-block
      h2.color-examples-list__color-title= options.title
      span.color-examples-list__color-code= options.code

mixin heading-example(options)
  li.heading-examples-list__heading-example(class='heading-examples-list__heading-example_type_' + options.type)
    span.heading-examples-list__type= options.type
    p.heading-examples-list__text-example= options.textExample