include /common/control-container/control-container

//- helper mixin, used only in this file
mixin add-items(itemsArray)
  each item, index in itemsArray
    -
      const {
        name,
        defaultCount,
        maxCount,
        declensions,
      } = item;

    .iqdropdown-menu-option.js-iqdropdown-menu-option(
      data-id="item"+(index+1)
      data-name=name
      data-defaultcount=defaultCount || "0"
      data-maxcount=maxCount
      data-declensions=declensions || ""
    )
      div
        p.iqdropdown-item= name

//- options: {
      title,
      state,
      type,
      placeholder,
      hasButtons,
      isOpened,
      isAlwaysOpened,
      maxCounts[],
      defaultCounts[],
      items[{name, defaultCount, maxCount, declensions[]}]
    }
mixin dropdown(options = {})
  include /common/random-id-generator/random-id-generator
  -
    const {
      title,
      state,
      type,
      placeholder,
      hasButtons,
      isOpened,
      isAlwaysOpened,
      defaultCounts,
      items,
    } = options;

  +control-container({
    title,
    state,
  })
    input.iqdropdown__input(
      name=type
    )
    .iqdropdown.js-iqdropdown(
      id=`dd-${randID}`
      class=type ? `iqdropdown_type_${type} js-iqdropdown_type_${type}` : ""
      data-placeholder=placeholder
      class=isOpened ? "menu-open" : ""
      data-always-opened=isAlwaysOpened ? "true" : ""
    )
      p.iqdropdown-selection.js-iqdropdown-selection
      button.iqdropdown__arrow(
        type="button"
      ) expand_more
      .iqdropdown-menu.js-iqdropdown-menu
        +add-items(items)
        if hasButtons
          .iqdropdown__controls.js-iqdropdown__controls
            .iqdropdown__clear-button.js-iqdropdown__clear-button(
              class=defaultCounts ? "" : "iqdropdown__clear-button_hidden"
            )
              button.button.button_type_link.button_type_clear(
                type="button"
              ) Очистить
            .iqdropdown__apply-button.js-iqdropdown__apply-button
              button.button.button_type_link(
                type="button"
              ) Применить
