mixin dropdown(options)
  .control-container.dropdown
    .control-container__caption
      h3.control-container__title= options.title
      span.control-container__description= options.description
    .iqdropdown(
      id=options.id
      class='dropdown_' + options.type
      data-placeholder=options.placeholder
      class=options.isOpened ? 'menu-open' : ''
      data-always-opened=options.isAlwaysOpened ? 'true' : '')
      p.iqdropdown-selection
      button.iqdropdown__arrow.material-icons expand_more
      .iqdropdown-menu
        each item, index in options.items
          .iqdropdown-menu-option(
            data-id='item'+(index+1)
            data-name=item.name
            data-defaultcount=item.defaultcount || '0'
            data-maxcount=item.maxcount
            data-declensions=item.declensions || ''
            )
            div
              p.iqdropdown-item= item.name
        if options.hasButtons
          .iqdropdown__controls
            button.iqdropdown__button.button.button_link.button_link_clear.button_link_clear_hidden Очистить
            button.iqdropdown__button.button.button_link Применить